#
# SECURITY WARNING: it is CRITICAL that this file & directory are NOT accessible directly via a web browser!
# http://nette.org/security-warning
#
common:
	php:
		date.timezone		: Europe/Bratislava
		session.save_path	: "%tempDir%/sessions"

	nette:
		session:
			autoStart: smart
			expiration: +10days

		application:
			debugger: true
			#catchExceptions: true
			errorPresenter: Error

		security:
			debugger: true
			#frames: ... # hodnota hlavičky X-Frame-Options

	services:
		database:
			class: Nette\Database\Connection(
				'%database.driver%:host=%database.host%;dbname=%database.dbname%'
				%database.user%
				%database.password%
			)
			setup:
				- setCacheStorage(...)

		authorizator:
			class: AclProj\Security\Acl

		authenticator:
			class: AclProj\Security\Authenticator(@database, %security.salt%)

	factories:


	parameters:
		authAction: Auth:login



development < common:
	parameters:
		database:
			driver	: mysql
			host	: localhost
			dbname	: nette_acl
			user	: php
			password: php

		security:
			salt: zb1g7IHt1I



production < common:
