<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="robots" content="{$robots}" n:ifset="$robots">
	<meta name="description" content="">
	<meta name="author" content="">

	<title>{ifset #title}{include #title} :: {/ifset}HTML Midor</title>

	<link rel="stylesheet" href="{$basePath}/css/bootstrap.min.css">
	<link rel="stylesheet" href="{$basePath}/css/bootstrap-responsive.min.css">
	<link rel="stylesheet" href="{$basePath}/css/main.css">

	<script src="{$basePath}/js/modernizr.min.js"></script>
</head>
<body>

	<div class="navbar navbar-fixed-top">
	<div class="navbar-inner">
		<div class="container">
			<a class="brand" n:href="Default:">nette ACL</a>

			{block navigation}{/block}

			{if $user->isLoggedIn()}
				<ul class="nav pull-right">
					<li><a n:href="User:">{$user->getIdentity()->name}</a></li>
					<li><a n:href="Auth:logout">logout</a></li>
				</ul>
			{/if}
		</div>
	</div>
	</div><!-- .navbar -->



	<div class="container">
		<div id="main" role="main" class="row">
			{include #main}
		</div><!-- #main -->


		<footer>
			<p>2012 &copy; <a href="http://twitter.com/srigi">srigi</a></p>
		</footer>
	</div> <!-- .container -->

</body>
</html>
