{layout '@_wrap.latte'}


{block main}

	<div id="content" class="span9">
		<div n:foreach="$flashes as $flash" class="alert alert-block alert-{$flash->type}"><p>{$flash->message}</p></div>
		{include #content}
	</div><!-- #content -->


	<div id="sidebar" class="span3">
		{block sidebar}Lorem ipsum dolor sit amet{/block}
	</div><!-- #sidebar -->
