<ul>
	<li n:class="$presenter->isLinkCurrent('Page:*') ? active"><a n:href="Page:">Pages administration</a></li>
	<li n:class="$presenter->isLinkCurrent('User:*') ? active"><a n:href="User:">Users administration</a></li>
</ul>
