<div class="well">
	<p>Cras orci metus, facilisis vel tristique eget, pulvinar vel enim.</p>
	<p>Maecenas at justo enim. Praesent lectus odio, fermentum id molestie id, vehicula non mauris. Pellentesque auctor accumsan condimentum.</p>
	<span class="btn btn-warning">LOL</span>
	<span class="btn btn-inverse">ROFL</span>
</div>
