{layout '@_wrap.latte'}
{var robots = noindex}


{block main}

	<div class="row">
		<div id="content" class="span12">
			<div n:foreach="$flashes as $flash" class="alert-message {$flash->type}"><p>{$flash->message}</p></div>
			{include #content}
		</div><!-- #content -->
	</div>

{/block}
