{block title}administrácia{/block}


{block navigation}
	<ul>
		<li><a n:href="Page:">administrácia stránok</a></li>
		<li><a n:href="User:">administrácia užívateľov</a></li>
	</ul>
{/block}



{block content}

	<h1>Hlavný panel administrácie</h1>

