{block title}administration{/block}


{block navigation}
	<ul>
		<li><a n:href="Page:">Pages administration</a></li>
		<li><a n:href="User:">Users administration</a></li>
	</ul>
{/block}



{block content}

	<h1>Admin dashboard</h1>

