#
# SECURITY WARNING: it is CRITICAL that this file & directory are NOT accessible directly via a web browser!
# http://nette.org/security-warning
#
common:
	php:
		date.timezone		: Europe/Bratislava
		session.save_path	: "%tempDir%/sessions"

	services:
		database:
			class: Nette\Database\Connection(
				'%database.driver%:host=%database.host%;dbname=%database.dbname%'
				%database.user%
				%database.password%
			)
			setup:
				- setCacheStorage(...)

		authorizator:
			class: AclProj\Security\Acl

		authenticator:
			class: AclProj\Security\Authenticator(
				@database
				%security.salt%
			)

	factories:



development < common:
	parameters:
		database:
			driver	: mysql
			host	: localhost
			dbname	: nette_acl
			user	: php
			password: php

		security:
			salt: zb1g7IHt1I



production < common:
