body {
	padding-top:60px;
}



.loginform-module {
	margin-top:3em;
	margin-bottom:3em;
}





footer {
	border-top:1px solid #ddd;
	margin-top: 3em;
	padding:2em 1em;
	text-align:center;
}
